.btn-gradient-primary {
  background: linear-gradient(135deg, #4facfe 0%, #00f2fe 100%);
  border: none;
  color: white;
  transition: 0.3s ease-in-out;
}

.btn-gradient-primary:hover {
  background: linear-gradient(135deg, #00f2fe 0%, #4facfe 100%);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}
.glass-card {
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.25);
  border-radius: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
